body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.navbar {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 20px;
}
.section.active {
  display: flex;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.explore-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}
.explore-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
.description {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  text-align: center;
  max-width: 600px;
  z-index: 1;
}
.img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fadeIn {
  animation: fadeIn 2s ease-in-out;
}
.dropdown {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#mountainDetails {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  text-align: center;
  max-width: 600px;
  z-index: 1;
}
#mountainImage {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}